<%- include('../partials/head', { page_title: "cityExplorer" }) %>
</head>
<body>
    <header class="cityExpHeader">
        <h1>Hidden Gems Directory</h1>
        <p1>Learn more about the vibrant cities featured in our game!<br>Each location has a unique story, culture, and history.</p1>
    </header>

    <div class = allsquares>
        <% cities.forEach(city => { %>
        <div class = citySquare> 
            <%=city.name%> 
            <img class = cityimg src = <%=city.imagePath %> >
            <%=city.population%> 
        </div>
        <% }) %>
        
    </div>
</body>
<%- include('../partials/foot') %>